node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/local.properties
android/app/debug.keystore

# Backup files
*.backup.*
*.backup2.*
*.bak

# iOS
ios/Pods/
ios/build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Metro
.metro-health-check*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Package lock
package-lock.json
yarn.lock
